/* .about {
  background-color: #f2f2f2;
} */

.about h1 {
  font-size: 66px;
  font-family: var(--playfair-display);
  font-weight: 600;
  line-height: 78px;
  color: #000;
  text-align: center;
}

.about p {
  padding-top: 40px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  font-size: 30px;
  font-family: var(--code-font);
}

.about__content-languages h2 {
  padding-top: 80px;
  font-size: 66px;
  font-family: var(--playfair-display);
  font-weight: 600;
  line-height: 78px;
  color: #000;
  text-align: center;
}

.about__content-languages_icons {
  justify-content: center;
  display: grid;
  grid-template-rows: 250px  250px;
  grid-template-columns: 250px  250px 250px 250px;
  padding-top: 45px;
}

.java-section .java-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.java-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px; /* Reduced margin below the image */
}

.java-section p {
    margin: 0;
    padding: 0;
}

.javascript-section .javascript-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.javascript-section img {
  max-width: 100%;
  height: auto;
}

.javascript-section p {
  margin: 0;
  padding: 0;
}

.html-section .html-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.html-section img {
  max-width: 100%;
  height: auto;
}

.html-section p {
  margin: 0;
  padding: 0;
}

.css-section .css-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.css-section img {
  max-width: 100%;
  height: auto;
}

.css-section p {
  margin: 0;
  padding: 0;
}

.spring-section .spring-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.spring-section img {
  max-width: 100%;
  height: auto;
}

.spring-section p {
  margin: 0;
  padding: 0;
}

.react-section .react-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.react-section img {
  max-width: 100%;
  height: auto;
}

.react-section p {
  margin: 0;
  padding: 0;
}

.about__content-certifications h2 {
  padding-top: 80px;
  font-size: 66px;
  font-family: var(--playfair-display);
  font-weight: 600;
  line-height: 78px;
  color: #000;
  text-align: center;
}

.about__content-certifications_icons {
  justify-content: center;
  display: grid;
  grid-template-rows: 250px  250px;
  grid-template-columns: 500px  500px;
  padding-top: 45px;
}

.oracle-section .oracle-center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.oracle-section img {
  max-width: 150px; /* Set the maximum width to 150px */
  height: auto; /* Let the height adjust automatically to maintain aspect ratio */
  margin-bottom: 0; /* Reduced margin below the image */
}

.oracle-text {
  text-align: left; /* Align all text elements to the left */
  padding-left: 15px;
}

.oracle-text h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.oracle-text p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: left; /* Add this line to align text to the left */

}

.oracle-view-badge-button {
  display: flex; /* Use flex display to arrange elements side by side */
  align-items: center; /* Vertically center the content */
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-top: 10px;
  padding: 5px 20px; /* Adjust padding */
  border-radius: 10px;
  cursor: pointer;
}

.oracle-view-badge-button p {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-right: 10px;
  white-space: nowrap; /* Prevent the text from wrapping to a new line */
  overflow: hidden; /* Hide any overflowed text */
  text-overflow: ellipsis; /* Add an ellipsis (...) if the text overflows */
}

.oracle-view-badge-button img {
  min-height: 22px;
  max-height: 100%;
}

.comptia-section .comptia-center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.comptia-section img {
  max-width: 150px; /* Set the maximum width to 150px */
  height: auto; /* Let the height adjust automatically to maintain aspect ratio */
  margin-bottom: 0; /* Reduced margin below the image */
}

.comptia-text {
  text-align: left; /* Align all text elements to the left */
  padding-left: 15px;
}

.comptia-text h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.comptia-text p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: left; /* Add this line to align text to the left */

}

.comptia-view-badge-button {
  display: inline-block;
  background-color: white; /* White background color */
  color: black; /* Black text color */
  border: 2px solid black; /* Black border */
  margin-top: 10px;
  padding: 5px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.comptia-view-badge-button p {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; /* Set font size to 20px */
}

.itil-section .itil-center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.itil-section img {
  max-width: 150px; /* Set the maximum width to 150px */
  height: auto; /* Let the height adjust automatically to maintain aspect ratio */
  margin-bottom: 0; /* Reduced margin below the image */
}

.itil-text {
  text-align: left; /* Align all text elements to the left */
  padding-left: 15px;
}

.itil-text h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.itil-text p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: left; /* Add this line to align text to the left */

}

.itil-view-badge-button {
  display: inline-block;
  background-color: white; /* White background color */
  color: black; /* Black text color */
  border: 2px solid black; /* Black border */
  margin-top: 10px;
  padding: 5px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.itil-view-badge-button p {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; /* Set font size to 20px */
}

.aws-section .aws-center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.aws-section img {
  max-width: 150px; /* Set the maximum width to 150px */
  height: auto; /* Let the height adjust automatically to maintain aspect ratio */
  margin-bottom: 0; /* Reduced margin below the image */
}

.aws-text {
  text-align: left; /* Align all text elements to the left */
  padding-left: 15px;
}

.aws-text h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.aws-text p {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: left; /* Add this line to align text to the left */

}

.aws-view-badge-button {
  display: inline-block;
  background-color: white; /* White background color */
  color: black; /* Black text color */
  border: 2px solid black; /* Black border */
  margin-top: 10px;
  padding: 5px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.aws-view-badge-button p {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; /* Set font size to 20px */
}

