/* Reset default margin and padding */
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

/* Main contact container */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  height: 70vh;
}

.contact-container {
  text-align: center;
  background-color: #23242b; /* Darker background */
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); /* Add shadow */
  width: 80%; /* Adjust the width as needed */
}

.contact-container h1 {
  color: #fff;
  font-size: 36px; /* Slightly smaller font size */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 60px;
  margin-top: 20px;
}

/* Contact icons and titles */
.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow multiple rows */
  gap: 20px; /* Add spacing between items */
}

.contact-icon-text {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 15px;
  padding: 15px;
  width: 100%; /* Adjust width */
  max-width: 350px; /* Limit maximum width */
}

.contact-icon {
  width: 30px; /* Slightly smaller icon size */
  filter: invert(100%);
}

.contact-title {
  margin-left: 15px;
  color: #f2f2f2; /* Lighter text color */
  font-family: var(--code-font);
  font-size: 20px; /* Slightly smaller font size */
}

/* Download box */
.download-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.download-box p {
  color: #f2f2f2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  text-align: right; /* Center-align text */
  margin: 15px;
  width: 275px;
}

/* Download button */
.download-button {
  display: inline-flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 15px 60px; /* Adjust padding */
  background-color: black;
  width: fit-content; /* Adjust width based on content */
  margin-top: 20px; /* Add spacing */
}

.download-button a {
  display: flex;
  align-items: center;
}

.download-icon {
  max-width: 30px; /* Slightly smaller icon size */
  margin-left: 10px;
}

.download-button span {
  font-size: 28px; /* Slightly smaller font size */
  line-height: 1.3;
  margin-right: 10px;
  color: white;
}
