/* Set up the styling for the projects section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  background-color: #f2f2f2;
}

/* Style the container for individual projects */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the heading for the projects section */
.projects h1 {
  font-size: 48px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin: 40px 0;
}

/* Style individual project boxes */
.project {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin-bottom: 70px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 50px;
}

/* Style the app image and screenshot container */
.project-app-image {
  display: flex;
  justify-content: center;
  position: relative;
}

/* Style the screenshot within the app image container */
.project-screenshot {
  height: auto;
  width: 150px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  z-index: 1;
  margin-left: 20px;
}

/* Style the app icon within the app image container */
.project-appicon {
  width: 80px;
  height: 80px;
}

/* Style the right side of the project box */
.project-right {
  flex: 1;
  margin-left: 30px;
}

/* Style the project title */
.project-right h2 {
  font-size: 28px;
  margin-top: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Style the project description */
.project-right p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Style the icons section for each project */
.project-icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.icon-outline img {
  height: 40px;
}

/* Style the icons within the icons section */
.project-icons img {
  max-height: 40px;
  margin: 0 10px;
}

.project-appicon {
  width: 80px;
  height: 80px;
  z-index: 2;
}

.icon-outline {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 13px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.icon-outline img {
  max-height: 40px;
}

.project-icons {
  margin-top: 20px;
  margin-bottom: 40px;
  align-items: center;
  display: flex;
}

.project-icons img {
  max-height: 50px;
}

/* Style the GitHub button */
.github-button {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add hover effect to the GitHub button */
.github-button:hover {
  background-color: #333;
}

/* Style the text within the GitHub button */
.github-button p {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style the GitHub icon within the button */
.github-button img {
  height: 24px;
  margin-left: 10px;
  filter: invert(100%);
}
